[submodule "pkg/bptree"]
	path = pkg/bptree
	url = git@github.com:vahagz/bptree.git
[submodule "pkg/disk-allocator"]
	path = pkg/disk-allocator
	url = git@github.com:vahagz/disk-allocator.git
[submodule "pkg/rbtree"]
	path = pkg/rbtree
	url = git@github.com:vahagz/rbtree.git
[submodule "pkg/pager"]
	path = pkg/pager
	url = git@github.com:vahagz/pager.git
